body {
    margin-top : 32px;
    color: rgb(2, 5, 17);
    background-color: rgb(109, 106, 65);

}

.home {
    padding : 0px;
    margin: calc(12vh + 6px) 0 30px 0px;
    max-width: 100%;
    min-height : 25vh;
}

.posterImage img {
    height: calc(100% - 5vh);
    max-width: inherit;

}