.Card {
    display:inline-block;
    position: relative;
    transition: transform 0.2s linear 0.5s;
    border-radius: 9px;
    overflow: hidden;
    margin : 0.3rem;
    cursor: pointer;
    max-width: 200px;
    z-index: 0;
    border: 1px solid rgb(99,99,99);
    padding: 0;

}

.Card:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow : (rgba(0,0,0,0.25) 0px 54px 55px , rgba(0,0,0,0.12) 0px -12px 30px, rgba(0,0,0,0.12) 0px 4px 6px, rgba(0,0,0,0.17))
}

.card__img {
    height: 300px;
    object-fit: cover;
}

.overlay1 {
    position: absolute;
    bottom : 0px;
    max-height: 100px;
    min-width: inherit;
    right: 6px;
    display : flex ;
    flex-direction : column;
    justify-content : flex-start;
    opacity : 0.8;
    transition: opacity 0.1s;
    background: linear-gradient(rgb(0,0,0,0) , rgb(0,0,0,1));
    padding: 8px;
}

.overlay1:hover {
    opacity: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title {
    font-weight : 900;
    font-size : 1rem;
}

.runtime {
    font-size: 0.75rem;
    margin-bottom: 0.25rem
}